//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 03 19:00:24 2024
//! **************************************************************************

SCHEMATIC START;
COMP "x<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "x<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "x<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "x<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "y<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "x<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "y<1>" LOCATE = SITE "J17" LEVEL 1;
COMP "x<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "y<2>" LOCATE = SITE "G14" LEVEL 1;
COMP "x<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "y<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "x<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "y<4>" LOCATE = SITE "D17" LEVEL 1;
COMP "y<5>" LOCATE = SITE "F18" LEVEL 1;
COMP "a<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "y<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "a<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "a<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "a<3>" LOCATE = SITE "F15" LEVEL 1;
SCHEMATIC END;

